.heading{
    font-size: 20px;
    width:100%;
    margin:0px;
    box-shadow: 7px 7px 7px rgb(245, 80, 195);
}

.note{
    color: royalblue;
    font-size: 10;

}

canvas{
    border: 5px solid teal;
    border-radius: 20px;
    box-shadow: 7px 7px 7px rgb(253, 253, 117);
}

.footer{
    bottom:0;
    position:fixed;
    width:100%;
    text-align: center;
    background-color: rgb(175, 174, 174);
    color:steelblue
}